.fa.fa-caret-up,
.fa.fa-caret-down {
  font-size: 20px;
  line-height: 6px;
}

.fa.fa-caret-up:hover,
.fa.fa-caret-down:hover {
  cursor: pointer;
  color: rgb(255, 0, 0, 0.5);
}

#adminMovie input,
#adminMovie textarea,
#adminMovie select {
  color: black;
  background-color: white;
}
